@use 'sass:color';
@use '../../styles/variables' as vars;

.dashboard {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 6rem);
  padding: 2rem;
  background-color: inherit;
  color: inherit;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  overflow: hidden; 

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    flex-shrink: 0;
  }

  &__title {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
  }

  &__select-button {
    margin-left: 15px;
  }

  &__chart-container {
    height: 300px;
    margin-bottom: 20px;
    flex-shrink: 0;
  }

  &__subtitle {
    margin: 0 0 10px;
    font-size: 18px;
    font-weight: 500;
    flex-shrink: 0;
  }

  &__table-container {
    flex-grow: 1;
    min-height: 200px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
  }

  /* Стили для светлой темы (по умолчанию) */
  &--light {
    background-color: vars.$white;
    color: vars.$carbon;

    .dashboard__chart-container {
      background-color: vars.$white;
      box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
    }
  }

  /* Стили для темной темы */
  &--dark {
    background-color: vars.$black-out;
    color: vars.$snowflake;

    .dashboard__chart-container {
      background-color: rgba(vars.$white, 0.05);
      box-shadow: 0 2px 8px rgba(vars.$black, 0.3);
    }
  }
}