$white: #ffffff;
$white-smoke: #f5f5f5;
$carbon: #333333;
$black: #000000;
$eerie-black: #1a1a1a;
$snowflake: #f0f0f0;
$clear-chill: #1890ff;
$adamantine-blue: #40a9ff;
$black-out: #222222;
$blood-burst: #ff4d4f;
$gainsboro: #dcdcdc;
$charcoal: #36454f;
$north-wind: #4bc0c0;
$poppy-surprise: #ff5733;
$rockman-blue: #36a2eb;
$temperamental-green: #308e21;
$romaine-green: #a59400;
$circumorbital-ring: #6a5dc2;