@use '../../styles/mixins' as mixins;
@use '../../styles/variables' as vars;

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; // Минимальная высота на весь экран
  transition: all 0.3s ease;

  &--light {
    background-color: vars.$white-smoke;
    color: vars.$carbon;
  }

  &--dark {
    background-color: vars.$eerie-black;
    color: vars.$snowflake;
  }
}

.content {
  display: flex;
  flex: 1; // Занимает всё доступное пространство
  min-height: 0; // Фиксит баг с переполнением в Flexbox
}

.main {
  flex-grow: 1;
  padding: 30px 20px;
  overflow-y: auto; // Добавляем скролл только для контента, если нужно
  background-color: inherit;
  color: inherit;
}
