@use '../../styles/variables' as vars;

.report-table {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: vars.$white;
  color: vars.$carbon;
  border-radius: 8px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

  &__container {
    flex-grow: 1;
    overflow: auto;
    position: relative;
  }

  &__table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    font-size: 13px;
    min-width: max-content; // Для горизонтального скролла
  }

  &__header {
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1);
  }

  &__row {
    transition: background-color 0.2s ease;

    &:nth-child(even) {
      background-color: rgba(0, 0, 0, 0.02);
    }

    &:hover {
      background-color: vars.$child-of-light;
    }
  }

  &__cell {
    padding: 8px 12px;
    border-bottom: 1px solid vars.$silver-city;
    border-right: 1px solid vars.$silver-city;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    // max-width: 200px;

    &:first-child {
      border-left: 1px solid vars.$silver-city;
      position: sticky;
      left: 0;
      background-color: inherit;
      z-index: 1;
    }
  }

  &__header &__cell {
    background-color: vars.$clear-chill;
    color: vars.$white;
    font-weight: 500;
    font-size: 12px;
    border: none;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    position: sticky;
    top: 0;
    padding: 10px 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    &:first-child {
      left: 0;
      z-index: 20;
    }
  }

  // Закрепленная первая колонка
  &__body &__cell:first-child {
    position: sticky;
    left: 0;
    background-color: vars.$white;
    z-index: 1;
  }

  // Темная тема
  &--dark {
    background-color: vars.$german-liquorice;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.2), 0 2px 4px -1px rgba(0, 0, 0, 0.12);
    color: vars.$bellflower-blue;

    .report-table__row {
      &:nth-child(even) {
        background-color: rgba(255, 255, 255, 0.05);
      }

      &:hover {
        background-color: vars.$property;
      }
    }

    .report-table__cell {
      color: vars.$bellflower-blue;
      border-bottom: 1px solid vars.$property;
      border-right: 1px solid vars.$property;

      &:first-child {
        border-left: 1px solid vars.$property;
      }
    }

    .report-table__header .report-table__cell {
      background-color: vars.$ending-navy-blue;
      color: vars.$white;
      border-right: 1px solid rgba(255, 255, 255, 0.1);
    }

    .report-table__body .report-table__cell:first-child {
      background-color: vars.$ending-navy-blue;
    }
  }
}
