@use "../src/styles/mixins" as mixins;
@use "../src/styles/variables" as vars;
@use "../src/styles/fonts";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Bitter", sans-serif;
}




.title-reset {
  margin: 0;
}

.container {
  max-width: 1200px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}